body {
    background-color: lightblue;
    
    background-image: url("/images/starsforever.gif");
    background-repeat: repeat-y;
    background-repeat: repeat-x;

    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}
